body
{
    font-family: Calibri, Segoe UI, Helvetica;
}

h1
{
    font-family: Segoe UI;
    font-style: normal;
}

#viewport
{
    bottom: 0;
    left: 0;
    overflow: hidden;
    perspective: 400;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2
}

#world
{
    height: 800px;
    width: 800px;
	left: 50%;
	margin-left: -400px;
	margin-top: -400px;
	position: absolute;
	top: 50%;
	transform-style: preserve-3d;
	
    

    
}


.world-object {
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    position: absolute;
    top: 256px;
    width: 20px;

    
}

.world-object-layer {


    display: block;

	position: absolute;

    box-shadow: 3px 3px 13px 3px rgba(3, 3, 3, 0.1);
    -webkit-box-shadow: 3px 3px 13px 3px rgba(3, 3, 3, 0.1);

    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 90px;
}